[submodule "common-core/libft"]
	path = common-core/libft
	url = https://github.com/oxo4real/libft.git
[submodule "pool/pool-1337"]
	path = pool/pool-1337
	url = https://github.com/oxo4real/pool-1337.git
[submodule "common-core/circle1/get_next_line"]
	path = common-core/circle1/get_next_line
	url = git@github.com:oxo4real/get_next_line.git
[submodule "common-core/circle1/ft_printf"]
	path = common-core/circle1/ft_printf
	url = https://github.com/oxo4real/ft_printf.git
[submodule "common-core/circle2/pipex"]
	path = common-core/circle2/pipex
	url = https://github.com/oxo4real/pipex.git
[submodule "common-core/circle2/fractol"]
	path = common-core/circle2/fractol
	url = https://github.com/oxo4real/fractol.git
[submodule "common-core/circle1/Born2beroot"]
	path = common-core/circle1/Born2beroot
	url = https://github.com/oxo4real/Born2beroot.git
[submodule "common-core/circle2/push_swap"]
	path = common-core/circle2/push_swap
	url = https://github.com/oxo4real/push_swap.git
